###########################################################
################## Application Setup ######################
###########################################################
HOST=127.0.0.1
PORT=8000
PYTHON_ENV=development
APP_NAME='Your App Name'
APP_URL="http://${HOST}:${PORT}"
DEBUG=False
SECRET_KEY=your-secret-key
TAX_RATE=10
VAT_RATE=15
ALLOWED_HOSTS=localhost

### MYSQL #################################################
###########################################################

MYSQL_VERSION=latest
MYSQL_DATABASE=default
MYSQL_USER=default
MYSQL_PASSWORD=secret
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_ENTRYPOINT_INITDB=./docker-entrypoint-initdb.d
MYSQL_TIMEZONE=UTC

###########################################################
##################### Database Setup ######################
###########################################################
DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_USER=default
DB_PASSWORD=default
DB_SCHEMA=default

###########################################################
###################### General Setup ######################
###########################################################

### Paths #################################################
# Point to the path of your applications code on your host
APP_CODE_PATH_HOST=.

# Point to where the `APP_CODE_PATH_HOST` should be in the container
APP_CODE_PATH_CONTAINER=/var/www/app/current

# You may add flags to the path `:cached`, `:delegated`. When using Docker Sync add `:nocopy`
APP_CODE_CONTAINER_FLAG=:cached

# Choose storage path on your machine. For all storage systems
DATA_PATH_HOST=~/.your-app-name/data

### Drivers ################################################

# All volumes driver
VOLUMES_DRIVER=local

# All Networks driver
NETWORKS_DRIVER=bridge

### Docker compose files ##################################

# Select which docker-compose files to include. If using docker-sync append `:docker-compose.sync.yml` at the end
COMPOSE_FILE=docker-compose.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names. This is useful if you have multiple projects that use node-challenge to have seperate containers per project.
COMPOSE_PROJECT_NAME=your-app-name

###########################################################
################ Containers Customization #################
###########################################################

DOCKER_FILE=Dockerfile